body {
    background-image: url("/static/logo.png");
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

h1 {
    color: white; #title
}

p {
    color: pink; #header
}

a {
    color: red; #link
}
